.personalInfo{
    display: flex;flex-direction: column;
    gap:15px;
    background-color: white;
    padding: 20px;
     border-radius: 20px;
}
.personalInfoHeading{
    display: flex;
    flex-direction:row;
    
align-items: center;
justify-content:space-between;
    width:100%;



}
.personalInfoHeadingWrapper{
    display: flex;
    justify-content: space-between;
    gap:10px
}
.personalInfoTitle{
    font-weight: bold;

}
.personalInfoEdit{
    display: flex;
    gap: 10px;
}
.personalInfoBtn{
    border:none;
 border-radius:9px;
 width:38px;
 height: 38px;
 background-color:  #1e519f;
 color: white;
 display: flex;
 align-items: center;
 
 justify-content: center;
 cursor: pointer;
}
.personInfoDetails{
    display: flex;
    flex-wrap: wrap;
    gap:30px;
    padding: 20px;
    
}
.personalInfoLight{
color:#aaaaaa;
font-weight: 600;

}
.personalInfoDark{
    color:#1e519f;
    font-weight: 600;
    display: flex;
    /* align-items: center; */
    gap:10px;
    outline: none;
}

@media only screen and (max-width: 750px){
    .personalInfoHeading{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.personalInfoWrapper{
    display: flex;
    gap:10px
}
}