 
.profileCardContainer{
    background-color: white;
    padding: 15px 20px 25px;
    position: relative;
    
    top:-9px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.profileCardContainerDetail{
    box-shadow: 0 5px 10px rgb(234, 228, 228);
    border-radius: 20px;
margin-top: 10px;
}
.profileCardHead{
gap:15px;
    display: flex;
    justify-content: space-between;
}
.profileCardHead::-webkit-scrollbar {
  display: none;
}
.profileCardBtn{
    border-radius: 10px;
    border: none;
    /* font-size: 0.6em; */
    display: flex;
    gap:10px;
    align-items: center;
    padding: 5px 10px ;
    font-weight: 700;
    color: #555555;
   background-color: #f9f9f9;
    cursor: pointer;
    width:100%;
    justify-content: center;
}
.profileCardBtnWrapper{
    padding: 15px 10px 20px;
    border-top-left-radius:10px ;
    border-top-right-radius:10px ;
    /* content-visibility: hidden; */
 width: 25%;
 display: flex;
 

}
.profileCardBtnWrapperMobile{
    background-color: #ffffff;
    
}

@media only screen and (max-width: 750px) {
    .profileCardBtnWrapper{
        /* background-color:#f9f9f9 ; */
        width: fit-content;

    }
    .profileCardBtnWrapperMobile{
    background-color:#f9f9f9;
    
}
    .profileCardHead{
overflow-x: scroll;

    }
}